name: Windows Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup CMake and Ninja
        uses: lukka/get-cmake@v4.2.3

      - name: Setup MSVC environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure
        run: cmake --preset x64-release

      - name: Build
        run: cmake --build --preset x64-release --config Release

      - name: Install
        run: cmake --build --preset x64-release --target install

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-x64-release
          path: out/install/x64-release
